<div layout="row" layout-align="center center">
  <div layout="column">
    <p>AdminApp v<span app-version></span></p>
    <form name="loginForm" id="loginForm" flex layout="column">

      <md-input-container>
        <label>Email</label>
        <input type="text"
               ng-model="user.email"
               name="email"
               required
               md-minlength="5">
        
      </md-input-container>

      <md-input-container>
        <label>Phone</label>
        <input type="text"
               ng-model="user.phone"
               name="phone"
               required>
        
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password"
               ng-model="user.password"
               name="password"
               required>
        
      </md-input-container>

      <md-button class="md-primary md-accent"
                 aria-label="Login"
                 ng-click="doLogin()">
        Login
      </md-button>

    </form>
  </div>

</div>
