<div class="form-body" layout="column">
  <!--
  Full name
  User type
  Email
  Password
  Password confirmation
  Phone number (optional)
  -->
  <md-list layout="row">

    <md-list-item flex-gt-sm flex="50">

      <md-input-container class="md-block" layout="column" layout-align="start center">
        <label class="">Login e-mail</label>
        <input type="email"
               ng-model="admin.attributes.username"
               aria-label="User login email"
               name="username"
               required
               admin-username>
        <div ng-messages="adminForm.username.$error">
          <div ng-message="required"
               ng-show="adminForm.username.$error.required">Login e-mail is required
          </div>
          <div ng-message="admin-username"
               ng-show="adminForm.username.$error.adminUsername">Username already taken
          </div>
          <div ng-message="email"
               ng-show="adminForm.username.$error.email">Username must be an email
          </div>
        </div>
        <div ng-message="admin-username" class="message" ng-show="adminForm.username.$pending">Checking if this name is available...</div>
      </md-input-container>
    </md-list-item>

    <md-list-item flex-gt-sm flex="50">
      <md-input-container class="md-block" layout="column" layout-align="start center">
        <label class="">Full name</label>
        <input type="text"
               ng-model="admin.attributes.name"
               aria-label="Admin full name"
               name="name"
               required
               ng-minlength="3">
        <div ng-messages="adminForm.name.$error">
          <div ng-message="required"
               ng-show="adminForm.name.$error.required">User full name is required
          </div>
          <div ng-message="minlength"
               ng-show="adminForm.name.$error.minlength">Username must contain at least 3 symbols
          </div>
        </div>
      </md-input-container>
    </md-list-item>

  </md-list>

  <md-list layout="row">

    <md-list-item flex-gt-sm flex="50">
      <md-input-container class="md-block" layout="column" layout-align="start center">
        <label class="">User type</label>
        <md-select name="role"
                   required
                   admin-role
                   ng-model="admin.attributes.role"
                   placeholder="-- Select --">
          <md-optgroup label="Role">
            <md-option ng-value="userType" ng-repeat="userType in userTypes">{{userType}}</md-option>
          </md-optgroup>
        </md-select>
        <div ng-messages="adminForm.role.$error">
          <div ng-message="required" ng-show="adminForm.role.$error.required">User role is required</div>
          <div ng-message="admin-role" ng-show="adminForm.role.$error.adminRole">Wrong user role</div>
        </div>
      </md-input-container>
    </md-list-item>

    <md-list-item flex-gt-sm flex="50">
      <md-input-container class="md-block" layout="column" layout-align="start center">
        <md-checkbox aria-label="Is account is enabled?"
                     ng-model="admin.attributes.is_enabled"
                     name="is_enabled">Enable account
        </md-checkbox>
      </md-input-container>
    </md-list-item>

  </md-list>

  <md-list layout="row" ng-if="dialogAction.hash === 'create'">
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label class="">Password</label>
        <input type="password"
               ng-model="admin.attributes.password"
               aria-label="Password"
               name="password"
               required
               ng-minlength="6">
        <div ng-messages="adminForm.password.$error">
          <div ng-message="required"
               ng-show="adminForm.password.$error.required">Password is required
          </div>
          <div ng-message="minlength"
               ng-show="adminForm.password.$error.minlength">Value is too short
          </div>
        </div>
      </md-input-container>
    </md-list-item>
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label class="">Password confirmation</label>
        <input type="password"
               ng-model="admin.attributes.password_confirmation"
               aria-label="Password confirmation"
               name="password_confirmation"
               required>
        <div ng-messages="adminForm.password_confirmation.$error">
          <div ng-message="required"
               ng-show="adminForm.password_confirmation.$error.required">Password confirmation is required
          </div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-list layout="row">
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label class="">Phone number</label>
        <input type="text"
               ng-model="admin.attributes.phone"
               aria-label="Carrier phone number"
               name="phone"
               placeholder="+375291111110"
               required>
        <div ng-messages="adminForm.phone.$error">
          <div ng-message="required"
               ng-show="adminForm.phone.$error.required">Mobile phone number is required
          </div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

</div>
