<form name="adminForm" role="form">
  <div class="form-body" layout="column">
    <!--
    Full name
    User type
    Email
    Password
    Password confirmation
    Phone number (optional)
    -->
    <md-subheader class="md-primary">User details</md-subheader>
    <md-list flex-gt-sm layout="row" layout-align="space-between start">
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Login e-mail</h3>
          <md-input-container class="md-block">
            <label for="adminUsernameInput">required</label>
            <input type="email"
                   id="adminUsernameInput"
                   ng-model="entity.attributes.username"
                   aria-label="User login email"
                   name="username"
                   required
                   unique-username
                   ng-model-options="{ debounce: 150 }"
                   placeholder="">
            <div ng-messages="adminForm.username.$error" ng-show="adminForm.username.$error">
              <div ng-message="required"
                   ng-show="adminForm.username.$error.required">Login e-mail is required
              </div>
              <div ng-message="unique-username"
                   ng-show="adminForm.username.$error.adminUsername">Username already taken
              </div>
              <div ng-message="email"
                   ng-show="adminForm.username.$error.email">Username must be an email
              </div>
            </div>
            <div ng-message="unique-username" class="message" ng-show="adminForm.username.$pending">Checking if this
              name
              is
              available...
            </div>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Full name</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <label for="adminNameInput">required</label>
            <input type="text"
                   id="adminNameInput"
                   ng-model="entity.attributes.name"
                   aria-label="Admin full name"
                   name="name"
                   required
                   ng-minlength="3">
            <div ng-messages="adminForm.name.$error">
              <div ng-message="required"
                   ng-show="adminForm.name.$error.required">User full name is required
              </div>
              <div ng-message="minlength"
                   ng-show="adminForm.name.$error.minlength">Username must contain at least 3 symbols
              </div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
    </md-list>

    <md-list flex-gt-sm layout="row" layout-align="space-between start">
      <md-list-item flex="33" class="md-2-line">
        <div class="md-list-item-text">
          <h3>User type</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <label for="userRoleSelect">required</label>
            <md-select name="role"
                       id="userRoleSelect"
                       required
                       admin-role
                       ng-model="entity.attributes.role"
                       placeholder="">
              <md-optgroup label="Role">
                <md-option ng-value="userType" ng-repeat="userType in userTypes">{{userType}}</md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="adminForm.role.$error">
              <div ng-message="required" ng-show="adminForm.role.$error.required">User role is required</div>
              <div ng-message="admin-role" ng-show="adminForm.role.$error.adminRole">Wrong user role</div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="33" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Phone number</h3>
          <md-input-container class="md-block">
            <label class="">required</label>
            <input type="text"
                   ng-model="entity.attributes.phone"
                   aria-label="Carrier phone number"
                   name="phone"
                   placeholder="+375291111110"
                   required
                   unique-phone>
            <div ng-messages="adminForm.phone.$error">
              <div ng-message="required"
                   ng-show="adminForm.phone.$error.required">Mobile phone number is required
              </div>
              <div ng-message="required"
                   ng-show="adminForm.phone.$error.unique">This phone number cannot be taken
              </div>
              <div ng-message="required"
                   ng-show="adminForm.phone.$pending">Checking if mobile phone is unique
              </div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="33" class="md-2-line" md-no-ink>
        <md-input-container class="md-block" layout="column" layout-align="start center">
          <md-checkbox aria-label="Set account enabled"
                       ng-model="entity.attributes.is_enabled"
                       name="is_enabled">Enable account
          </md-checkbox>
        </md-input-container>
      </md-list-item>
    </md-list>

    <md-list flex-gt-sm layout="row" layout-align="space-between start">
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Password</h3>
          <md-input-container class="md-block">
            <label for="passwordInput">required</label>
            <input type="password"
                   id="passwordInput"
                   ng-model="entity.attributes.password"
                   aria-label="Password"
                   name="password"
                   required
                   ng-minlength="6">
            <div ng-messages="adminForm.password.$error">
              <div ng-message="required"
                   ng-show="adminForm.password.$error.required">Password is required
              </div>
              <div ng-message="minlength"
                   ng-show="adminForm.password.$error.minlength">Value is too short
              </div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Password confirmation</h3>
          <md-input-container class="md-block">
            <label for="passwordConfirmationInput">required</label>
            <input type="password"
                   id="passwordConfirmationInput"
                   ng-model="entity.attributes.password_confirmation"
                   aria-label="Password confirmation"
                   name="password_confirmation"
                   placeholder=""
                   required>
            <div ng-messages="adminForm.password_confirmation.$error">
              <div ng-message="required">Password confirmation is required
              </div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
    </md-list>

    <!--<md-list layout="row" layout-align="space-between start">
      <md-list-item flex-gt-sm>
        <md-input-container class="md-block">
          <md-button type="button"
                     class="md-warn md-raised md-hue-2"
                     aria-label="Reset password"
                     name="reset_password"
                     ng-click="resetPassword($event)">Reset password
          </md-button>
          <div ng-messages ng-show="passwordReset">
            <div ng-message=""
                 class="hint"
                 md-colors="{color: 'green'}"
                 md-colors-watch="false"
                 ng-show="passwordReset">Password was reset. New password sent to user by preferred communication
              channel.
            </div>
          </div>
        </md-input-container>
      </md-list-item>
    </md-list>-->

  </div>

  <md-button ng-click="saveEntity()"
             class="md-primary md-raised"
             ng-disabled="adminForm.$invalid || adminForm.$pending || processing"
             type="button">Save
  </md-button>

</form>


