<div class="form-body" layout="column">
  <!--
    Email*
    Phone number
    Full name*
    Username*
    Password*
    Password confirmation
    Home address*
    Personal photo*
    Birthday date
    Nationality
    National ID/passport number*
    National ID/Passport scan*
  -->
  <md-list layout="row">
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierEmailInput">Email</label>
        <input type="email"
               id="carrierEmailInput"
               data-ng-model="carrier.attributes.email"
               aria-label="Carrier email"
               name="email"
               required
               unique-email>
        <div ng-messages="carrierForm.email.$error">
          <div ng-message="required" ng-show="carrierForm.email.$error.required">User email is required</div>
          <div ng-message="email" ng-show="carrierForm.email.$error.email">Email format is wrong</div>
          <div ng-message="unique-email" ng-show="carrierForm.email.$pending">Checking if this e-mail is available&hellip;
          </div>
        </div>
      </md-input-container>
    </md-list-item>
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierPhoneNumberInput">Phone number</label>
        <input type="text"
               id="carrierPhoneNumberInput"
               data-ng-model="carrier.attributes.phone"
               aria-label="Carrier phone number"
               name="phone"
               unique-phone>
        <div ng-messages="carrierForm.phone.$error">
          <div ng-message="unique-phone" ng-show="carrierForm.phone.$error.required">Phone number is required</div>
          <div ng-message="unique-phone" ng-show="carrierForm.phone.$error.unique">Phone number is already registered in
            the system
          </div>
          <div ng-message="unique-phone" ng-show="carrierForm.phone.$pending">Checking if this phone number is
            taken&hellip;</div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-list layout="row">
    <md-list-item flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierFullNameInput">Full name</label>
        <input type="text"
               id="carrierFullNameInput"
               data-ng-model="carrier.attributes.name"
               aria-label="Carrier full name"
               name="name"
               required
               ng-minlength="5">
        <div ng-messages="carrierForm.name.$error" ng-show="carrierForm.$valid">
          <div ng-message="required" ng-show="carrierForm.name.$error.required">Carrier's full name is required</div>
          <div ng-message="minlength" ng-show="carrierForm.name.$error.minlength">Name is too short</div>
        </div>
      </md-input-container>
    </md-list-item>
    <md-list-item flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierUsernameInput">Username</label>
        <input type="text"
               id="carrierUsernameInput"
               data-ng-model="carrier.attributes.username"
               aria-label="Carrier username"
               name="username"
               required
               unique-username
               ng-model-options="{ debounce: 150 }"
               ng-disabled="!allowUsernameEdit">
        <div ng-messages="carrierForm.username.$error">
          <div ng-message="required" ng-show="carrierForm.username.$error.required">Login username is required</div>
          <div ng-message="unique-username" ng-show="carrierForm.username.$error.unique">Username already taken</div>
          <div ng-message="unique-username" ng-show="carrierForm.username.$pending.required">Checking if this username
            is available&hellip;</div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-list layout="row" ng-if="dialogAction.hash === 'create'">
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierPasswordInput">Password</label>
        <input type="password"
               id="carrierPasswordInput"
               data-ng-model="carrier.attributes.password"
               aria-label="Password"
               name="password"
               required
               ng-minlength="6">
        <div ng-messages="carrierForm.password.$error">
          <div ng-message="required" ng-show="carrierForm.password.$error.required">Password is required</div>
          <div ng-message="minlength" ng-show="carrierForm.password.$error.minlength">Value is too short</div>
        </div>
      </md-input-container>
    </md-list-item>
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierPasswordConfirmationInput">Password confirmation</label>
        <input type="password"
               id="carrierPasswordConfirmationInput"
               data-ng-model="carrier.attributes.password_confirmation"
               aria-label="Password confirmation"
               name="password_confirmation"
               required/>
        <div ng-messages="carrierForm.password_confirmation.$error">
          <div ng-message="required" ng-show="carrierForm.password_confirmation.$error.required">Password confirmation
            is required
          </div>
          <div ng-message="" ng-show="passwordConfirmed === false">Passwords do not match</div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-list layout="row" ng-if="dialogAction.hash === 'edit'">
    <md-list-item flex-gt-sm>
      <md-input-container class="md-block">
        <md-button ng-click="resetPassword()"
                   class="md-warn md-raised md-hue-2"
                   aria-label="Reset password"
                   id="resetPasswordButton">Reset password
        </md-button>
        <div ng-messages ng-show="passwordReset">
          <div ng-message=""
               class="hint"
               md-colors="{color: 'green'}"
               md-colors-watch="false"
               ng-show="passwordReset">Password was reset. New password sent to user by preferred communication channel.
          </div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-list layout="row">
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierHomeAddressInput">Home address</label>
        <input type="text"
               id="carrierHomeAddressInput"
               data-ng-model="carrier.attributes.default_address"
               aria-label="Home address"
               name="address"
               required
               ng-minlength="5">
        <div ng-messages="carrierForm.address.$error">
          <div ng-message="required" ng-show="carrierForm.address.$error.required">Carrier home address is required
          </div>
          <div ng-message="minlength" ng-show="carrierForm.address.$error.minlength">Value is too short</div>
        </div>
      </md-input-container>
    </md-list-item>
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container>
        <label for="carrierBirthdayInput">Birthday Date</label>
        <md-datepicker data-ng-model="carrier.attributes.birthday.date"
                       id="carrierBirthdayInput"
                       name="birthday"
                       aria-label="Carrier birthday date"
                       md-min-date="minBirthdayDate"
                       md-max-date="maxBirthdayDate"
                       md-current-view="year">
        </md-datepicker>
        <div ng-messages="createCarrierForm.birthday.$error">
          <div ng-message="valid" ng-show="carrierForm.birthday.$error.valid">The entered value is not a date!</div>
          <div ng-message="required" ng-show="carrierForm.birthday.$error.required">This date is required!</div>
          <div ng-message="mindate" ng-show="carrierForm.birthday.$error.mindate">Date is too early!</div>
          <div ng-message="maxdate" ng-show="carrierForm.birthday.$error.maxdate">Date is too late!</div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

  <md-list layout="row">
    <md-list-item flex="50" flex-gt-sm layout="column">
      <md-input-container flex
                          class="md-block"
                          id="idScanInputContainer">
        <label for="idScanUpload"
               class="md-button md-raised md-primary">Upload ID scan</label>
        <input type="file"
               id="idScanUpload"
               data-file-model="carrier.attributes.id_scan"
               style="opacity: 0;"
               class="file-input"
               required/>
      </md-input-container>
      <div flex id="idScanImageContainer" class="form-image">
        <img src="{{ carrier.attributes.id_scan }}" alt="National ID scan"/>
      </div>
    </md-list-item>
    <md-list-item flex="50" flex-gt-sm layout="column">
      <md-input-container flex
                          class="md-block"
                          id="userPhotoInputContainer">
        <label for="idScanUpload"
               class="md-button md-raised md-primary">Upload profile photo</label>
        <input type="file"
               id="userPhotoUpload"
               data-file-model="carrier.attributes.photo"
               style="opacity: 0;"
               class="file-input"
               required/>
      </md-input-container>
      <div flex id="userPhotoImageContainer" class="form-image">
        <img src="{{ carrier.attributes.photo }}" alt="Profile photo"/>
      </div>
    </md-list-item>
  </md-list>

  <md-list layout="row">
    <md-list-item flex flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierNationalityInput">Nationality</label>
        <input type="text"
               id="carrierNationalityInput"
               data-ng-model="carrier.attributes.nationality"
               aria-label="Carrier's nationality"
               name="nationality"
               required>
      </md-input-container>
    </md-list-item>
    <md-list-item flex flex-gt-sm>
      <md-input-container class="md-block">
        <label for="carrierIdNumber">National ID #</label>
        <input type="text"
               id="carrierIdNumber"
               data-ng-model="carrier.attributes.id_number"
               aria-label="Carrier's national ID number"
               name="id_number"
               required>
      </md-input-container>
    </md-list-item>
  </md-list>

</div>
