<div class="form-body" layout="column">
  <!--
    Driver
    Username
    From city
    To city
    Personal photo
    Max shipment size
    Shipment type
    Departure date/time
    Expected delivery date/time
  -->
  <md-list layout="row">
    <md-list-item flex="50" flex-gt-sm>
      <md-input-container class="md-block">
        <label for="tripEmailInput">Email</label>
        <input type="email"
               id="tripEmailInput"
               data-ng-model="trip.attributes.email"
               aria-label="trip email"
               name="email"
               required
               unique-email>
        <div ng-messages="tripForm.email.$error">
          <div ng-message="required" ng-show="tripForm.email.$error.required">User email is required</div>
          <div ng-message="email" ng-show="tripForm.email.$error.email">Email format is wrong</div>
          <div ng-message="unique-email" ng-show="tripForm.email.$pending">Checking if this e-mail is available&hellip;
          </div>
        </div>
      </md-input-container>
    </md-list-item>
  </md-list>

</div>
