<form name="tripForm" role="form">
  <div class="form-body" layout="column">
    <!--
      Driver username *
      Driver email *
      Driver phone number *
      From city *
      Destination city *
      Max shipment weight(?)
      Shipment type (?)
      Shipment size
      Departure date/time
      Expected delivery date/time
    -->

    <md-subheader class="md-primary">Carrier</md-subheader>
    <md-list flex-gt-sm layout="row" layout-align="space-between start">
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Username</h3>
          <md-input-container class="md-block"
                              layout="column"
                              layout-align="start center">
            <label for="carrierSelect">required</label>
            <md-select name="carrier"
                       required
                       ng-model="carrier"
                       id="carrierSelect"
                       placeholder="Select Carrier"
                       ng-disabled="!carriers">
              <md-optgroup>
                <md-option ng-value="carrier" ng-repeat="carrier in carriers">{{carrier.attributes.username}}
                </md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="tripForm.carrier.$error">
              <div ng-message="required" ng-show="tripForm.carrier.$error.required">Carrier is required for Trip</div>
            </div>
        </div>
        </md-input-container>
      </md-list-item>
      <md-list-item flex="50" class="md-2-line" ng-show="carrier.attributes.phone">
        <div class="md-list-item-text">
          <h3>Phone</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <input type="text"
                   ng-model="carrier.attributes.phone"
                   aria-label="Carrier phone number"
                   name="phone"
                   id="carrierPhoneText"
                   disabled
                   ng-if="carrier.attributes.phone">
          </md-input-container>
        </div>
      </md-list-item>
    </md-list>

    <md-subheader class="md-primary" ng-show="carrier.id">Locations</md-subheader>
    <md-list flex-gt-sm layout="row" layout-align="space-between start" ng-show="carrier.id">
      <md-list-item flex="50" class="md-2-line" ng-show="carrier.attributes.current_city.name">
        <div class="md-list-item-text">
          <h3>Current city</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <!--<label for="currentCityText">required</label>-->
            <input type="text"
                   ng-model="carrier.attributes.current_city.name"
                   aria-label="Current city of carrier's location"
                   name="currentCityText"
                   id="currentCityText"
                   disabled>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="50" class="md-2-line" ng-show="!!carrier.attributes.current_city.name === false">
        <div class="md-list-item-text">
          <h3>Current city</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <label for="currentCitySelect">required</label>
            <md-select name="currentCitySelect"
                       id="currentCitySelect"
                       ng-model="trip.attributes.from_city.attributes.name"
                       placeholder="Current City">
              <md-optgroup label="Current City">
                <md-option ng-value="city" ng-repeat="city in cities">{{city.attributes.name}}</md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="tripForm.currentCitySelect.$error">
              <div ng-message="required" ng-show="tripForm.currentCitySelect.$error.required">Current city is required
              </div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Destination City</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <label for="destinationCitySelect">required</label>
            <md-select name="destinationCity"
                       id="destinationCitySelect"
                       required
                       ng-model="trip.attributes.destination_city"
                       placeholder="Destination City">
              <md-optgroup label="Destination City">
                <md-option ng-value="city" ng-repeat="city in cities">{{city.attributes.name}}</md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="tripForm.destinationCity.$error">
              <div ng-message="required" ng-show="tripForm.destinationCity.$error.required">Destination city is
                required
              </div>
            </div>
          </md-input-container>
        </div>
      </md-list-item>
    </md-list>

    <md-subheader class="md-primary" ng-show="carrier.id">Shipment</md-subheader>
    <md-list flex-gt-sm layout="row" layout-align="space-between start" ng-show="carrier.id">
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Size</h3>
          <md-input-container class="md-block" layout="column" layout-align="start center">
            <label for="shipmentSizeSelect">required</label>
            <md-select name="shipmentSize"
                       id="shipmentSizeSelect"
                       required
                       ng-model="trip.attributes.shipment_size"
                       placeholder="Shipment Size">
              <md-optgroup label="Shipment Size">
                <md-option ng-value="size"
                           ng-repeat="size in shipmentSizes">{{size.name}}: {{size.description}}
                </md-option>
              </md-optgroup>
            </md-select>
            <div ng-messages="tripForm.shipmentSize.$error">
              <div ng-message="required"
                   ng-show="tripForm.shipmentSize.$error.required">Shipment Size is required
              </div>
            </div>
            <p class="md-caption"
               ng-show="trip.attributes.shipment_size.attributes.name">
              WLH(cm):{{trip.attributes.shipment_size.attributes.width}}x{{trip.attributes.shipment_size.attributes.length}}x{{trip.attributes.shipment_size.attributes.height}}<br/>
              Max. weight(kg):{{trip.attributes.shipment_size.attributes.width}}</p>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item flex="50" class="md-2-line">
        <div class="md-list-item-text">
          <h3>Departure date</h3>
          <div layout="row">
            <md-input-container class="md-block" flex="50">
              <label for="departureDatePicker">required</label>
              <div layout="row" layout-align="start center">
                <md-datepicker ng-model="trip.attributes.departure_date"
                               md-placeholder="Departure date"
                               id="departureDatePicker"
                               name="departureDate"
                               md-min-date="minDepartureDate"
                               md-max-date="maxDepartureDate"
                               required
                               aria-label="Trip depature date">
                </md-datepicker>
              </div>
              <div ng-messages="tripForm.departureDate.$error">
                <div ng-message="required"
                     ng-show="tripForm.departureDate.$error.required">Departure date is required
                </div>
                <div ng-message="mindate"
                     ng-show="tripForm.departureDate.$error.mindate">Date is too early
                </div>
                <div ng-message="maxdate"
                     ng-show="tripForm.departureDate.$error.maxdate">Date is too late
                </div>
              </div>
            </md-input-container>
            &nbsp;
            <md-input-container flex="33" ng-show="trip.attributes.departure_date">
              <label for="departureTimeText">required</label>
              <input name="departureTime"
                     type="text"
                     size="5"
                     ng-model="departure_time"
                     aria-label="Trip depature time"
                     id="departureTimeText"
                     required/>
              <div ng-messages="tripForm.departureTime.$error">
                <div ng-message="required"
                     ng-show="tripForm.departureTime.$error.required">Departure time is required
                </div>
              </div>
            </md-input-container>
          </div>
        </div>
      </md-list-item>
    </md-list>

  </div>

  <md-button ng-click="saveEntity($event)"
             class="md-primary md-raised"
             ng-disabled="tripForm.$invalid || tripForm.$pending || processing"
             type="button">Save
  </md-button>

</form>
