@import "variables";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

md-content {
  //overflow: hidden;
}

// Angular
[ng-click] {
  &:hover {
    cursor: pointer;
  }
}

// Main content bg color
md-content.md-default-theme {
  background-color: $colorGray;
}

// White svg icons in toolbar and fab

md-sidenav {

  & > md-toolbar {
    padding: 15px;
    height: 150px;
    max-height: 150px;
  }

  md-list-item.md-2-line .md-list-item-text {
    padding-top: 14px;
    padding-bottom: 12px;
  }

  md-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  md-list-item {
    &:hover {
      cursor: pointer;
    }
  }

  md-icon {
    padding-top: 7px;
    fill: $colorGray;
    position: relative;

    svg path {
      fill: $colorGray;
    }

  }
  .md-avatar {
    height: 64px;
    width: 64px;
  }
}

md-toolbar.toolbarTop{
  md-icon{
    svg path {
      fill: white;
    }
  }
}

/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line {
  md-divider {
    &[md-inset] {
      left: 70px;
    }
  }
}

// Round avatar
.md-avatar {
  & > svg {
    border-radius: 50%;
  }
}

/* fade animation */
.animate-show {
  transition: 0.75s ease-out opacity;
  opacity: 1;
  &.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

.slimScrollDiv {
  width: 220px !important;
  transition: width .25s;

  &.collapse {
    width: 0 !important;
  }
}

.md-panel-outer-wrapper{
  background: transparent;
}

._md-panel-shown {
  .md-panel{
    background: white;
  }
}

.md-button.md-fab{
  width: 48px;
  height: 48px;
  line-height: 48px;
}
