<md-fab-toolbar md-open="false"
                count="0"
                md-direction="left"
                class="md-hue-3">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="Actions menu"
               class="md-fab md-primary">
      <md-icon class="material-icons md-light md-24">menu</md-icon>
      <!--<md-icon md-svg-src="/img/material-design-icons/menu.svg"
               class="md-light"></md-icon>-->
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button class="md-icon-button"
                 aria-label="Back"
                 back-button>
        <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
