<md-fab-toolbar md-open="false"
                count="0"
                md-direction="left">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="Trip Menu" class="md-fab md-primary">
      <md-icon md-svg-src="/img/material-design-icons/menu.svg"
               class="md-light"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button class="md-fab md-primary"
                 aria-label="Create new trip"
                 ui-sref="trip/create">
        <i class="material-icons md-light">add</i>
      </md-button>
      <md-button class="md-fab md-primary"
                 aria-label="Back"
                 back-button>
        <ng-md-icon icon="keyboard_arrow_left"></ng-md-icon>
      </md-button>

    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
