<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h3>{{ $state.current.data.pageTitle }}:</h3>&nbsp;<p ng-show="entity.id">{{ entity.id }}</p>
    <span flex></span>
    <ng-include src="'tpl/widgets/fab/details-toolbar.html'"></ng-include>
  </div>
  <md-progress-linear md-mode="indeterminate"
                      ng-show="processing"></md-progress-linear>
</md-toolbar>

<md-content flex
            layout-padding
            class="details-container"
            id="carrierDetails"
            ng-show="entity.id">

  <!--<md-subheader class="md-primary">Contact details</md-subheader>-->
  <md-list flex-gt-sm layout-padding layout="row" layout-align="start start">
    <md-list-item class="md-2-line" flex="50">
      <img ng-src="{{ entity.attributes.photo }}"
           class="md-avatar"
           alt="{{ entity.attributes.username }} photo"
           ng-show="entity.attributes.photo"/>
      <i class="material-icons md-avatar" ng-hide="entity.attributes.photo">person</i>
      <div class="md-list-item-text">
        <h3>Username</h3>
        <p>{{ entity.attributes.username }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="50">
      <div class="md-list-item-text">
        <h3>Email</h3>
        <p>{{ entity.attributes.email }}&nbsp;<a ng-click="openEmailDialog()">
          <ng-md-icon icon="mail_outline"></ng-md-icon>
        </a></p>
      </div>
    </md-list-item>
  </md-list>

  <md-list flex-gt-sm layout-padding layout="row" layout-align="start start">
    <md-list-item class="md-2-line" flex="50">
      <div class="md-list-item-text">
        <h3>Default address</h3>
        <p>{{ entity.attributes.default_address }}&nbsp;<a ng-click="showDefaultAddressMap()">
          <ng-md-icon icon="room"></ng-md-icon>
        </a></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="50" ng-if="entity.attributes.phone">
      <div class="md-list-item-text">
        <h3>Phone</h3>
        <p>{{ entity.attributes.phone }}&nbsp;<a ng-click="">
          <ng-md-icon icon="contact_phone"></ng-md-icon>
        </a></p>
      </div>
    </md-list-item>
  </md-list>

  <!--<md-subheader class="md-primary">Registration details</md-subheader>-->
  <md-list flex-gt-sm layout-padding layout="row" layout-align="start start">
    <md-list-item class="md-2-line" flex="33" ng-if="entity.attributes.phone">
      <div class="md-list-item-text">
        <h3>Registration date</h3>
        <p>{{ entity.attributes.created_at }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="33" ng-if="entity.attributes.phone">
      <div class="md-list-item-text">
        <h3>Last login</h3>
        <p>{{ entity.attributes.last_login }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="33" ng-if="entity.attributes.phone">
      <div class="md-list-item-text">
        <h3>Birthday</h3>
        <p>{{ entity.attributes.birthday }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="33" ng-if="entity.attributes.phone">
      <div class="md-list-item-text">
        <h3>Rating</h3>
        <p>{{ entity.attributes.rating }} of 5</p>
      </div>
    </md-list-item>
  </md-list>

  <!--<md-subheader class="md-primary">Carrier details</md-subheader>-->
  <md-list flex-gt-sm layout-padding layout="row" layout-align="start start">
    <md-list-item class="md-2-line" flex="25">
      <div class="md-list-item-text">
        <h3>Orders</h3>
        <p class="count accent">{{ entity.attributes.orders }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="25">
      <div class="md-list-item-text">
        <h3>Current trips</h3>
        <p class="count accent">{{ entity.attributes.trips }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="25">
      <div class="md-list-item-text">
        <h3>Cash payments</h3>
        <p class="count accent">{{ entity.attributes.cash_payments }}</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="25">
      <div class="md-list-item-text">
        <h3>Card payments</h3>
        <p class="count accent">{{ entity.attributes.card_payments }}</p>
      </div>
    </md-list-item>
  </md-list>

  <md-list flex-gt-sm layout-padding layout="row" layout-align="start start">
    <md-list-item flex>
      <md-button ng-click="goEdit()"
                 class="md-primary"
                 type="button">Edit Carrier
      </md-button>
    </md-list-item>
  </md-list>


</md-content>
